<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         printerFile="vendor/whatthejeff/fab-phpunit-resultprinter/src/Fab/PHPUnit/ResultPrinter.php"
         printerClass="Fab\PHPunit\ResultPrinter"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit/</directory>
        </testsuite>
    </testsuites>

    <testsuites>
        <testsuite name="integration">
            <directory>./tests/integration/</directory>
        </testsuite>
    </testsuites>

    <testsuites>
        <testsuite name="functional">
            <directory>./tests/functional/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>
